AI Personal Assistant.json
{"updatedAt":"2025-11-12T10:26:11.086Z","createdAt":"2025-11-12T10:26:11.086Z","id":"pawGu3j1Isb3kv5w","name":"AI Personal Assistant","active":false,"isArchived":false,"nodes":[{"parameters":{"updates":["message"],"additionalFields":{}},"id":"76e47b46-2702-431e-9578-fc7a475d68e2","name":"Telegram Trigger","type":"n8n-nodes-base.telegramTrigger","typeVersion":1.1,"position":[-1488,352],"webhookId":"99eab1a0-569d-4f0f-a49e-578a02abfe63"},{"parameters":{"model":"gpt-4o","options":{}},"id":"3d1d2399-bb3d-4ce5-a845-1d580147ef79","name":"OpenAI Chat Model","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1,"position":[-1152,672]},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('Telegram Trigger').item.json.message.chat.id }}"},"id":"0afa9e2c-f64d-4e62-89cf-f54126a4bd57","name":"Window Buffer Memory","type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.2,"position":[-1008,672]},{"parameters":{"documentId":{"__rl":true,"value":"19MEAwqL6LOhB9VNXW8TSDTBd1U8s0L77uWHpIhRieEA","mode":"list","cachedResultName":"Contact Database","cachedResultUrl":"https://docs.google.com/spreadsheets/d/19MEAwqL6LOhB9VNXW8TSDTBd1U8s0L77uWHpIhRieEA/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/19MEAwqL6LOhB9VNXW8TSDTBd1U8s0L77uWHpIhRieEA/edit#gid=0"},"options":{}},"id":"b7bebdb4-ed7d-41e2-a878-f3fd07e66698","name":"Contact Database","type":"n8n-nodes-base.googleSheetsTool","typeVersion":4.5,"position":[-864,672]},{"parameters":{"chatId":"={{ $('Telegram Trigger').item.json.message.chat.id }}","text":"={{ $json.output }}","additionalFields":{"appendAttribution":false}},"id":"847c9737-52d8-48bd-be80-277e539d2411","name":"Response","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-368,160],"webhookId":"0e1b4cea-c1da-4f1c-ba4c-837e2e887889"},{"parameters":{"name":"researchAgent","description":"Call this tool to search the internet to answer the user's question","workflowId":{"__rl":true,"value":"QcAFSBjor3ReuR3z","mode":"list","cachedResultName":"Research Agent Demo"}},"id":"9ad4b3ef-e802-4853-b8f7-2cd872743d1e","name":"researchAgent","type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":1.2,"position":[-496,672]},{"parameters":{"assignments":{"assignments":[{"id":"fe7ecc99-e1e8-4a5e-bdd6-6fce9757b234","name":"text","value":"={{ $json.message.text }}","type":"string"}]},"options":{}},"id":"c269cd30-a6b7-45df-8bd1-063e7813d6c5","name":"Set 'Text'","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1056,368]},{"parameters":{"resource":"file","fileId":"={{ $json.message.voice.file_id }}","additionalFields":{}},"id":"0aa0e1eb-6560-4852-83c1-bd7fc6820356","name":"Download Voice File","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-1136,208],"webhookId":"a7809450-1307-49c6-8e80-42c7c15204d1"},{"parameters":{"resource":"audio","operation":"transcribe","options":{}},"id":"be768269-936c-402f-982c-651d87b8e71a","name":"Transcribe Audio","type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.6,"position":[-976,208]},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.message.voice.file_id }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"Voice"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"8c844924-b2ed-48b0-935c-c66a8fd0c778","leftValue":"={{ $json.message.text }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"Text"}]},"options":{}},"id":"0b63a429-8dbb-408b-ab53-83502e393dbc","name":"Switch","type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-1328,352]},{"parameters":{"method":"POST","url":"https://api.elevenlabs.io/v1/text-to-speech/rU18Fk3uSDhmg5Xh41o4","sendHeaders":true,"headerParameters":{"parameters":[{"name":"xi-api-key","value":"sk_666074a093f577b0da996add99b126538bff4a876f195218"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"text\": \"{{ JSON.stringify($json.message.content).replace(/(^\\\"|\\\"$)/g, '') }}\"\n}\n","options":{}},"id":"199b5e3e-6deb-4867-a46d-071d58458ec8","name":"Create Audio","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-16,352]},{"parameters":{"operation":"sendAudio","chatId":"={{ $('Telegram Trigger').item.json.message.chat.id }}","binaryData":true,"additionalFields":{"fileName":"data.mpeg"}},"id":"e9189aa6-d5a9-4f1b-a367-896246300db7","name":"Send Audio","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[144,352],"webhookId":"6c480f89-e8c6-4ea3-bd87-03d063e63361"},{"parameters":{"name":"data","description":"Retrieves information about company projects"},"id":"1ee0412c-f8ff-4aba-a7b2-4f470cd27470","name":"Vector Store Tool","type":"@n8n/n8n-nodes-langchain.toolVectorStore","typeVersion":1,"position":[-368,672]},{"parameters":{"options":{}},"id":"caff193b-19f1-4d82-b201-bfd243d02619","name":"OpenAI Chat Model1","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1,"position":[-192,800]},{"parameters":{"pineconeIndex":{"__rl":true,"value":"sample","mode":"list","cachedResultName":"sample"},"options":{"pineconeNamespace":"demo"}},"id":"d0021fb6-837e-459d-935d-1b89dcb7ab77","name":"Pinecone Vector Store","type":"@n8n/n8n-nodes-langchain.vectorStorePinecone","typeVersion":1,"position":[-432,800]},{"parameters":{"options":{}},"id":"9e5650d6-3d70-45e6-b373-04a247823e63","name":"Embeddings OpenAI","type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.1,"position":[-368,928]},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"=Summarize this incoming information:  {{ $json.output }}\n\nOutput only plain text, there should be no markdown formatting or  any symbols.","role":"system"}]},"options":{}},"id":"bfaf619e-60bb-4f2b-bfee-23cf2f49d4b2","name":"Summarize Agent Response","type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.6,"position":[-368,352]},{"parameters":{"promptType":"define","text":"={{ $json.text }}","options":{"systemMessage":"=You are a personal assistant AI Agent designed to handle various tasks efficiently. Your primary role is to manage contacts, emails, and calendar events for the user. You have access to three tools to help you fulfill requests:\n\nContacts Data: Use this when you need to look up contact information like an email address. You need to use this tool BEFORE sending an email or BEFORE getting emails.\n\nEmail Agent: Use this for handling all email-related actions, like sending messages, setting up replies, or forwarding emails.\n\nCalendar Agent: Use this for scheduling, updating, or managing calendar events.\n\nSend Slack Message: Use this to send a message in Slack.\n\nProjects_Agent: Use this tool to access our projects. We can update our projects of get information on our projects.\n\nWhen a task requires using one or more of these tools, make sure to identify which tool is most appropriate, pass along the relevant details, and execute the actions needed to complete the task. Your goal is to be proactive, precise, and organized in managing these resources to provide a smooth experience for the user.\n\nHere is the current time/date: {{ $now.format('DD')}}"}},"id":"cf6353bb-3315-4417-9b50-c5aa8c65a9ac","name":"Personal Assistant","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[-736,352]},{"parameters":{"name":"calendarAgent","description":"Call this tool for calendar actions","workflowId":{"__rl":true,"value":"Rd2MEWOkNMSQYjQi","mode":"list","cachedResultName":"Calendar Agent Demo"}},"id":"b2709983-d8b4-40a5-a17f-a522c544cc7a","name":"calendarAgent","type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":1.2,"position":[-608,672]},{"parameters":{"name":"emailAgent","description":"Call this tool for email actions","workflowId":{"__rl":true,"value":"5lrP84T1NgHG5zAN","mode":"list","cachedResultName":"Email Agent Demo"}},"id":"e1029c31-9012-4cd6-9f95-5fccbb33e24c","name":"emailAgent","type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":1.2,"position":[-736,672]}],"connections":{"Telegram Trigger":{"main":[[{"node":"Switch","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Personal Assistant","type":"ai_languageModel","index":0}]]},"Window Buffer Memory":{"ai_memory":[[{"node":"Personal Assistant","type":"ai_memory","index":0}]]},"Contact Database":{"ai_tool":[[{"node":"Personal Assistant","type":"ai_tool","index":0}]]},"researchAgent":{"ai_tool":[[{"node":"Personal Assistant","type":"ai_tool","index":0}]]},"Set 'Text'":{"main":[[{"node":"Personal Assistant","type":"main","index":0}]]},"Download Voice File":{"main":[[{"node":"Transcribe Audio","type":"main","index":0}]]},"Transcribe Audio":{"main":[[{"node":"Personal Assistant","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Download Voice File","type":"main","index":0}],[{"node":"Set 'Text'","type":"main","index":0}]]},"Create Audio":{"main":[[{"node":"Send Audio","type":"main","index":0}]]},"Vector Store Tool":{"ai_tool":[[{"node":"Personal Assistant","type":"ai_tool","index":0}]]},"OpenAI Chat Model1":{"ai_languageModel":[[{"node":"Vector Store Tool","type":"ai_languageModel","index":0}]]},"Pinecone Vector Store":{"ai_vectorStore":[[{"node":"Vector Store Tool","type":"ai_vectorStore","index":0}]]},"Embeddings OpenAI":{"ai_embedding":[[{"node":"Pinecone Vector Store","type":"ai_embedding","index":0}]]},"Summarize Agent Response":{"main":[[{"node":"Create Audio","type":"main","index":0}]]},"Personal Assistant":{"main":[[{"node":"Response","type":"main","index":0},{"node":"Summarize Agent Response","type":"main","index":0}]]},"calendarAgent":{"ai_tool":[[{"node":"Personal Assistant","type":"ai_tool","index":0}]]},"emailAgent":{"ai_tool":[[{"node":"Personal Assistant","type":"ai_tool","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"d8c8247d-b353-4372-997d-e9f90fdc039a","triggerCount":0,"shared":[{"updatedAt":"2025-11-12T10:26:11.086Z","createdAt":"2025-11-12T10:26:11.086Z","role":"workflow:owner","workflowId":"pawGu3j1Isb3kv5w","projectId":"DkHDotQO3CwT4btY"}],"tags":[]}