Backup workflows.json
{"updatedAt":"2025-11-30T09:08:20.521Z","createdAt":"2025-11-25T11:45:26.796Z","id":"t05YRyK1YHkGIAzJ","name":"Backup workflows","active":false,"isArchived":false,"nodes":[{"parameters":{"filters":{},"requestOptions":{}},"id":"fdb929df-b60a-4a2f-a7b0-4738cde55a82","name":"Retrieve workflows","type":"n8n-nodes-base.n8n","position":[656,112],"typeVersion":1,"credentials":{"n8nApi":{"id":"FrvdC9PvMNUi1ZJQ","name":"n8n account"}}},{"parameters":{"fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"=name"}]},"options":{}},"id":"897e7abd-c764-4d15-b0fe-5b70682f46e0","name":"Aggregate","type":"n8n-nodes-base.aggregate","position":[432,112],"typeVersion":1},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-208,112],"id":"14927c17-a27c-4e14-85ee-c1fd121ded00","name":"When clicking ‘Execute workflow’"},{"parameters":{"assignments":{"assignments":[{"id":"d276c316-0b11-4b37-9e93-1e86d28e27f0","name":"commitDate","value":"={{ $now }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[0,112],"id":"e0d476ae-5c36-402b-9218-91a716210b6d","name":"Edit Fields"},{"parameters":{"authentication":"oAuth2","resource":"file","operation":"list","owner":{"__rl":true,"value":"autom8abel","mode":"name"},"repository":{"__rl":true,"value":"n8n_Workflows","mode":"list","cachedResultName":"n8n_Workflows","cachedResultUrl":"https://github.com/autom8abel/n8n_Workflows"}},"type":"n8n-nodes-base.github","typeVersion":1.1,"position":[208,112],"id":"296f08cf-b7fc-4a60-8968-95a0fab163d6","name":"List files","webhookId":"2eaecc70-e14c-422e-9290-297d3cdc364d","credentials":{"githubOAuth2Api":{"id":"8KMax1SFwvBxdson","name":"GitHub account 2"}}},{"parameters":{"authentication":"oAuth2","resource":"file","operation":"edit","owner":{"__rl":true,"value":"autom8abel","mode":"name"},"repository":{"__rl":true,"value":"n8n_Workflows","mode":"list","cachedResultName":"n8n_Workflows","cachedResultUrl":"https://github.com/autom8abel/n8n_Workflows"},"filePath":"={{ $json.name }}.json","binaryData":true,"commitMessage":"=updated at {{ $now }}"},"type":"n8n-nodes-base.github","typeVersion":1.1,"position":[1632,-32],"id":"c641d803-e506-4b79-b998-42a6e30923ef","name":"Update repository","webhookId":"41bb8cb2-084f-48fc-9ff9-3e692b69c294","credentials":{"githubOAuth2Api":{"id":"8KMax1SFwvBxdson","name":"GitHub account 2"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"c2ff5c4e-3ba5-4cfb-b051-41c7686f3a55","leftValue":"={{ $('List files').all().map(e => e.json.name).includes($json.name) }}\n","rightValue":"true","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1360,112],"id":"ed1df1f9-eaee-4751-942a-110b151615ea","name":"If"},{"parameters":{"authentication":"oAuth2","resource":"file","owner":{"__rl":true,"value":"autom8abel","mode":"name"},"repository":{"__rl":true,"value":"n8n_Workflows","mode":"list","cachedResultName":"n8n_Workflows","cachedResultUrl":"https://github.com/autom8abel/n8n_Workflows"},"filePath":"={{$binary.data.fileName}}","binaryData":true,"commitMessage":"=created {{ $binary.data.fileName }} at {{ $now }}"},"type":"n8n-nodes-base.github","typeVersion":1.1,"position":[1616,208],"id":"d1a0721c-3601-43be-929e-06ed5a0a01ee","name":"Create a file","webhookId":"960d4c78-d919-4196-90b8-25109b5b7055","credentials":{"githubOAuth2Api":{"id":"8KMax1SFwvBxdson","name":"GitHub account 2"}}},{"parameters":{"jsCode":"return items.map(item => {\n    // Convert the workflow JSON to string\n    const workflowString = JSON.stringify(item.json);\n\n    // Encode as Base64\n    const workflowBase64 = Buffer.from(workflowString).toString('base64');\n\n    // Add binary property\n    item.binary = {\n        data: {\n            data: workflowBase64,          // GitHub expects Base64 here\n            mimeType: 'application/json',\n            fileName: `${item.json.name}.json`\n        }\n    };\n\n    return item;\n});\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[864,112],"id":"f168234b-2c80-4084-aa5e-60ffce186251","name":"Code in JavaScript"}],"connections":{"Aggregate":{"main":[[{"node":"Retrieve workflows","type":"main","index":0}]]},"Retrieve workflows":{"main":[[{"node":"Code in JavaScript","type":"main","index":0}]]},"When clicking ‘Execute workflow’":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"List files","type":"main","index":0}]]},"List files":{"main":[[{"node":"Aggregate","type":"main","index":0}]]},"If":{"main":[[{"node":"Update repository","type":"main","index":0}],[{"node":"Create a file","type":"main","index":0}]]},"Code in JavaScript":{"main":[[{"node":"If","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"166bff3c-2e40-49a7-a2c0-fd9edc42361c","triggerCount":0,"shared":[{"updatedAt":"2025-11-25T11:45:26.796Z","createdAt":"2025-11-25T11:45:26.796Z","role":"workflow:owner","workflowId":"t05YRyK1YHkGIAzJ","projectId":"DkHDotQO3CwT4btY"}],"tags":[]}