emailAgent.json
{"updatedAt":"2025-11-17T12:45:08.183Z","createdAt":"2025-11-12T13:24:41.906Z","id":"VKdJzNVZsLmEO4li","name":"emailAgent","active":false,"isArchived":false,"nodes":[{"parameters":{"sendTo":"={{ $fromAI(\"emailAddress\") }}","subject":"={{ $fromAI(\"subject\") }}","message":"={{ $fromAI(\"emailBody\") }}","options":{"appendAttribution":false}},"type":"n8n-nodes-base.gmailTool","typeVersion":2.1,"position":[-320,320],"id":"1375109c-0b84-43e7-a92e-2062a9506018","name":"Send Email","webhookId":"86c8c4b1-13bb-4ebe-acb9-30e1d7082d55","credentials":{"gmailOAuth2":{"id":"YPb5kckXgSZw2fUw","name":"Gmail account"}}},{"parameters":{"operation":"getAll","limit":"={{ $fromAI(\"limit\",\"how many emails the user wants\") }}","simple":false,"filters":{"sender":"={{ $fromAI(\"sender\",\"who the emails are from\") }}"},"options":{}},"type":"n8n-nodes-base.gmailTool","typeVersion":2.1,"position":[416,320],"id":"a0cd0176-511a-40fe-9240-6a9b13edf451","name":"Get Emails","webhookId":"af4b3298-9037-44b0-aa12-2acbfbb5e66f","credentials":{"gmailOAuth2":{"id":"YPb5kckXgSZw2fUw","name":"Gmail account"}}},{"parameters":{"resource":"draft","subject":"={{ $fromAI(\"subject\") }}","emailType":"html","message":"={{ $fromAI(\"emailBody\") }}","options":{"threadId":"={{ $fromAI(\"threadID\") }}","sendTo":"={{ $fromAI(\"emailAddress\") }}"}},"type":"n8n-nodes-base.gmailTool","typeVersion":2.1,"position":[272,320],"id":"5b5d29ab-3edc-41ea-9361-0ce5f73cf48a","name":"Create Draft","webhookId":"17016bce-d7d7-428a-a56c-f6ea122db8be","credentials":{"gmailOAuth2":{"id":"YPb5kckXgSZw2fUw","name":"Gmail account"}}},{"parameters":{"operation":"reply","messageId":"={{ $fromAI(\"ID\",\"the message ID\") }}","message":"={{ $fromAI(\"emailBody\") }}","options":{"appendAttribution":false}},"type":"n8n-nodes-base.gmailTool","typeVersion":2.1,"position":[-192,320],"id":"777c7a20-0253-437d-8dca-0f9af68498a8","name":"Email Reply","webhookId":"114785e6-a859-432b-81b4-c490c1c35b1c","credentials":{"gmailOAuth2":{"id":"YPb5kckXgSZw2fUw","name":"Gmail account"}}},{"parameters":{"resource":"label","returnAll":true},"type":"n8n-nodes-base.gmailTool","typeVersion":2.1,"position":[560,320],"id":"cd3703e5-8540-459f-850f-6dda7d7276ce","name":"Get Labels","webhookId":"9e08b59e-792d-4566-83f1-9263c9ad86ae","credentials":{"gmailOAuth2":{"id":"YPb5kckXgSZw2fUw","name":"Gmail account"}}},{"parameters":{"operation":"addLabels","messageId":"={{ $fromAI(\"ID\",\"the ID of the message\") }}","labelIds":"={{ $fromAI(\"labelID\") }}"},"type":"n8n-nodes-base.gmailTool","typeVersion":2.1,"position":[-80,320],"id":"6e5b14ae-956b-4c3f-a91a-a290074efc35","name":"Label Emails","webhookId":"0e951529-2e6d-40bf-ac40-fc0947e242e2","credentials":{"gmailOAuth2":{"id":"YPb5kckXgSZw2fUw","name":"Gmail account"}}},{"parameters":{"operation":"markAsUnread","messageId":"={{ $fromAI(\"messageID\") }}"},"type":"n8n-nodes-base.gmailTool","typeVersion":2.1,"position":[144,320],"id":"20305d43-70f5-4d98-8b5b-8e200a569d35","name":"Mark Unread","webhookId":"a35af9d8-f67d-4ff9-803f-59ec6356e795","credentials":{"gmailOAuth2":{"id":"YPb5kckXgSZw2fUw","name":"Gmail account"}}},{"parameters":{"model":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-448,320],"id":"bde8f159-035d-44be-8c9c-e714726c9ccf","name":"4.0-mini3","credentials":{"openAiApi":{"id":"sT24ONU4jnbehmwY","name":"OpenAi account"}}},{"parameters":{"workflowInputs":{"values":[{"name":"emailQuery"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-416,80],"id":"005e5e49-2051-4035-81ee-7f2a478651ef","name":"When Executed by Another Workflow"},{"parameters":{"assignments":{"assignments":[{"id":"94af4a68-e0d7-497b-9186-63769d408b26","name":"response","value":"={{ $json.output }}","type":"string"}]},"options":{}},"id":"b929dd78-7594-4fab-aff3-8b225fd234f7","name":"Response","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[272,16]},{"parameters":{"promptType":"define","text":"={{ $json.emailQuery }}","options":{"systemMessage":"=# Overview\nYou are an email management assistant. All emails must be formatted professionally in HTML and signed off as \"Abel.\" \n\n**Email Management Tools**   \n   - Use \"Send Email\" to send emails.  \n\n- Here is the current date/time: {{ $now }}"}},"id":"3012b238-7ed6-461c-8a0c-bc42efa709ce","name":"emailAgent","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.6,"position":[-160,80],"onError":"continueErrorOutput"}],"connections":{"Send Email":{"ai_tool":[[{"node":"emailAgent","type":"ai_tool","index":0}]]},"Get Emails":{"ai_tool":[[]]},"Create Draft":{"ai_tool":[[]]},"Email Reply":{"ai_tool":[[]]},"Get Labels":{"ai_tool":[[]]},"Label Emails":{"ai_tool":[[]]},"Mark Unread":{"ai_tool":[[]]},"4.0-mini3":{"ai_languageModel":[[{"node":"emailAgent","type":"ai_languageModel","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"emailAgent","type":"main","index":0}]]},"emailAgent":{"main":[[{"node":"Response","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"4bcbd35d-3218-4f60-ad99-36d36e0b6b13","triggerCount":0,"shared":[{"updatedAt":"2025-11-12T13:24:41.906Z","createdAt":"2025-11-12T13:24:41.906Z","role":"workflow:owner","workflowId":"VKdJzNVZsLmEO4li","projectId":"DkHDotQO3CwT4btY"}],"tags":[]}