Error Logger.json
{"updatedAt":"2025-11-12T13:45:32.189Z","createdAt":"2025-11-12T13:43:47.133Z","id":"vVo1JDkGiaS2AvD6","name":"Error Logger","active":false,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.errorTrigger","typeVersion":1,"position":[752,208],"id":"cedc5eea-f60a-4e27-9b46-11198fcc4651","name":"Error Trigger"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1pqsIwwXktJ7uVHKAr29NAuqpEvEWMFgQRFN4tUIwJy4","mode":"list","cachedResultName":"Error Logs","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1pqsIwwXktJ7uVHKAr29NAuqpEvEWMFgQRFN4tUIwJy4/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1pqsIwwXktJ7uVHKAr29NAuqpEvEWMFgQRFN4tUIwJy4/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"Timestamp":"={{ $now.format('yyyy-MM-dd hh:mma') }}","Workflow":"={{ $json.workflow.name }}","URL":"={{ $json.execution.url }}","Node":"={{ $json.execution.lastNodeExecuted }}","Error Message":"={{ $json.execution.error.message }}"},"matchingColumns":[],"schema":[{"id":"Timestamp","displayName":"Timestamp","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Workflow","displayName":"Workflow","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"URL","displayName":"URL","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Node","displayName":"Node","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Error Message","displayName":"Error Message","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[1088,64],"id":"b62637c9-79e2-4a26-b57c-89046ae37926","name":"Log Error"},{"parameters":{"content":"# Error Logger","height":580,"width":740,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[624,0],"id":"af2d1b55-fbb3-41d0-a778-8a67a98fdb2b","name":"Sticky Note"},{"parameters":{"chatId":"={{ fromAI(\"chatID\") }}","text":"={{ $json.execution.error.message }}","additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1072,368],"id":"ea18b909-a59e-4600-9a21-89ef16bcc9e1","name":"Send a text message","webhookId":"2032895f-d1c0-4a31-890b-da24f406e407","credentials":{"telegramApi":{"id":"n78Dc2sxI1FlDdZV","name":"Kaizen Assistant"}}}],"connections":{"Error Trigger":{"main":[[{"node":"Log Error","type":"main","index":0},{"node":"Send a text message","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"adbee004-1b9b-4d7e-bce5-16d21c4844d7","triggerCount":0,"shared":[{"updatedAt":"2025-11-12T13:43:47.133Z","createdAt":"2025-11-12T13:43:47.133Z","role":"workflow:owner","workflowId":"vVo1JDkGiaS2AvD6","projectId":"DkHDotQO3CwT4btY"}],"tags":[]}