Orchestrator Agent.json
{"updatedAt":"2025-11-30T02:53:08.638Z","createdAt":"2025-11-12T14:06:59.101Z","id":"nitiM5MaLSwGRr5Q","name":"Orchestrator Agent","active":false,"isArchived":false,"nodes":[{"parameters":{"name":"contentCreator","description":"Call this tool to create blog posts.","workflowId":{"__rl":true,"value":"NZ791qWlD2DfLG87","mode":"list","cachedResultUrl":"/workflow/NZ791qWlD2DfLG87","cachedResultName":"Contact Agent"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":["contactsAgent"],"schema":[{"id":"contactsAgent","displayName":"contactsAgent","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2,"position":[-64,0],"id":"bf2d39f3-7f25-4033-8103-9f8e7ebdced1","name":"Content Creator Agent"},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.toolCalculator","typeVersion":1,"position":[-944,0],"id":"5f1d8c58-26ec-4db4-b8e9-a7e7d9d3d2d5","name":"Calculator"},{"parameters":{"name":"calendarAgent","description":"Call this tool for any calendar action.","workflowId":{"__rl":true,"value":"jfscxBjmTTx7opZZ","mode":"list","cachedResultUrl":"/workflow/jfscxBjmTTx7opZZ","cachedResultName":"Calender Agent"},"workflowInputs":{"mappingMode":"defineBelow","value":{"calenderQuery":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('calenderQuery', ``, 'string') }}"},"matchingColumns":["calenderQuery"],"schema":[{"id":"calenderQuery","displayName":"calenderQuery","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2,"position":[-288,0],"id":"c4272ee5-9168-494a-9fa7-fa9a549565a2","name":"Calendar Agent"},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.toolThink","typeVersion":1,"position":[-848,0],"id":"709d706b-eb17-4e71-860c-3d9670d29156","name":"Think"},{"parameters":{"updates":["message"],"additionalFields":{}},"id":"04081718-55f3-47a2-8626-0ae2db47ae48","name":"Telegram Trigger","type":"n8n-nodes-base.telegramTrigger","typeVersion":1.1,"position":[-1152,-432],"webhookId":"99eab1a0-569d-4f0f-a49e-578a02abfe63","retryOnFail":false,"maxTries":4,"credentials":{"telegramApi":{"id":"n78Dc2sxI1FlDdZV","name":"Kaizen Assistant"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('Telegram Trigger').item.json.message.chat.id }}"},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[-1216,0],"id":"1931f0f0-98d2-48c9-a469-35b82a877a72","name":"Simple Memory"},{"parameters":{"chatId":"={{ $('Telegram Trigger').item.json.message.chat.id }}","text":"={{ $json.output }}","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-528,-432],"id":"476523d1-dced-4dd7-888d-c199a23c6345","name":"Send a text message","webhookId":"3c5383cd-92ab-4657-a866-28cb5f86151e","credentials":{"telegramApi":{"id":"n78Dc2sxI1FlDdZV","name":"Kaizen Assistant"}}},{"parameters":{"toolDescription":"Use this tool to search the internet","method":"POST","url":"https://api.tavily.com/search","authentication":"predefinedCredentialType","nodeCredentialType":"tavilyApi","sendBody":true,"specifyBody":"json","jsonBody":"\n{\n    \"api_key\": \"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\",\n    \"query\": \"{searchTerm}\",\n    \"search_depth\": \"basic\",\n    \"include_answer\": true,\n    \"topic\": \"news\",\n    \"include_raw_content\": true,\n    \"max_results\": 3\n} ","placeholderDefinitions":{"values":[{"name":"searchTerm","description":"What the user has requested to search the internet for","type":"string"}]}},"type":"@n8n/n8n-nodes-langchain.toolHttpRequest","typeVersion":1.1,"position":[-736,0],"id":"ff76407b-0b5b-4aa3-8697-3abf2690f2ba","name":"Tavily","credentials":{"tavilyApi":{"id":"cva3RiByTeT7xYTM","name":"Tavily account"}}},{"parameters":{"operation":"__CUSTOM_API_CALL__"},"type":"@tavily/n8n-nodes-tavily.tavilyTool","typeVersion":1,"position":[-1072,0],"id":"428dfd10-73f2-448f-bfa5-9bf673d25f4b","name":"__CUSTOM_API_CALL__ search in Tavily","credentials":{"tavilyApi":{"id":"cva3RiByTeT7xYTM","name":"Tavily account"}}},{"parameters":{"description":"Call this tool for any email actions.","workflowId":{"__rl":true,"value":"VKdJzNVZsLmEO4li","mode":"list","cachedResultUrl":"/workflow/VKdJzNVZsLmEO4li","cachedResultName":"emailAgent"},"workflowInputs":{"mappingMode":"defineBelow","value":{"emailQuery":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('emailQuery', `the email action required to be taken`, 'string') }}"},"matchingColumns":[],"schema":[{"id":"emailQuery","displayName":"emailQuery","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[-592,0],"id":"176ad643-09e3-4cc0-9330-a136775ec136","name":"emailAgent"},{"parameters":{"model":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-1376,0],"id":"788e6547-3466-4b1c-b4bf-0be047374d0e","name":"GPT 4.0","credentials":{"openAiApi":{"id":"sT24ONU4jnbehmwY","name":"OpenAi account"}}},{"parameters":{"documentId":{"__rl":true,"value":"13_lqCuWerhJ7lFYolvve4kfg1NMtAYnQMddiiO0m5dc","mode":"list","cachedResultName":"Contact Database","cachedResultUrl":"https://docs.google.com/spreadsheets/d/13_lqCuWerhJ7lFYolvve4kfg1NMtAYnQMddiiO0m5dc/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/13_lqCuWerhJ7lFYolvve4kfg1NMtAYnQMddiiO0m5dc/edit#gid=0"},"options":{}},"type":"n8n-nodes-base.googleSheetsTool","typeVersion":4.7,"position":[-448,0],"id":"23e1a5fd-768f-47ee-8cd9-40eb67e30139","name":"Contact Database","credentials":{"googleSheetsOAuth2Api":{"id":"DNO3cJnXq70nrLVN","name":"Google Sheets account"}}},{"parameters":{"promptType":"define","text":"={{ $json.message.text }}","options":{"systemMessage":"=# Overview\nYou are the ultimate personal assistant. Your job is to send the user's query to the correct tool. You can search the web using the Tavily tool. You should never be writing emails, or creating even summaries, you just need to call the correct tool.\n\nCurrent Date and Time: {{ $now }}. Be sure to always reference this time whenever the user asks a question to do with time. This is my Timezone: EAT - Eastern AFrica Time. Current offset: UTC/GMT +3 hours.\n\n# Tools\n- Contact Database: Use this tool to fetch a person's contact information.\n- Think: Use this to think deeply or if you get stuck.\n- Tavily: Use this tool to search the web.\n- emailAgent: Use this tool to take action in email.\n- calenderAgent: Use this for calender actions.\n\n## Example\n- Input: send an email to Mark Muriithi asking him what time he wants to leave\n  - Action: Use Contact Database tool to get Mark Muriithi's email\n  - Action: Use emailAgent to send the email. You will pass the tool a query like \"send Mark Muriithi an email to ask what time he wants to leave. here is his email: [email address]\n- Output: The email has been sent to Mark Muriithi. Anything else I can help you with?\n\n## Instructions\n1) Some queries only have the name, without more detail like email or phone number. Ensure you look up the target's information using the Contact Database tool.\n2) Use the \"Think\" tool to verify you took the right steps. "}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[-880,-432],"id":"f0badc30-481e-4cfa-ac83-85e8fee40d48","name":"Asta"},{"parameters":{"authentication":"airtableOAuth2Api","base":{"__rl":true,"value":"apprhzOI2fZNCxZP2","mode":"list","cachedResultName":"Personal Assistant ","cachedResultUrl":"https://airtable.com/apprhzOI2fZNCxZP2"},"table":{"__rl":true,"value":"tbl0ZvhlXiRpLZA2b","mode":"list","cachedResultName":"Contacts","cachedResultUrl":"https://airtable.com/apprhzOI2fZNCxZP2/tbl0ZvhlXiRpLZA2b"},"id":"={{ $fromAI('Record_ID', `The id of the Contact being retrieved.`, 'string') }}","options":{}},"type":"n8n-nodes-base.airtableTool","typeVersion":2.1,"position":[-64,-208],"id":"94ffb837-d00e-4ddc-8f6f-f75e1d4ed3e2","name":"getContact","credentials":{"airtableOAuth2Api":{"id":"gND9H8eQb6GNnRf2","name":"Airtable"}}},{"parameters":{"authentication":"airtableOAuth2Api","operation":"upsert","base":{"__rl":true,"value":"apprhzOI2fZNCxZP2","mode":"list","cachedResultName":"Personal Assistant ","cachedResultUrl":"https://airtable.com/apprhzOI2fZNCxZP2"},"table":{"__rl":true,"value":"tbl0ZvhlXiRpLZA2b","mode":"list","cachedResultName":"Contacts","cachedResultUrl":"https://airtable.com/apprhzOI2fZNCxZP2/tbl0ZvhlXiRpLZA2b"},"columns":{"mappingMode":"autoMapInputData","value":{"Name":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Name', `The name of the new addition included`, 'string') }}","Phone number":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Phone_number', `The phone number of the new addition`, 'string') }}","Email Address":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Email_Address', `the email address of the new addition`, 'string') }}","id":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('id__using_to_match_', ``, 'string') }}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","readOnly":true,"removed":false},{"id":"Id","displayName":"Id","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Name","displayName":"Name","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Phone number","displayName":"Phone number","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Email Address","displayName":"Email Address","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.airtableTool","typeVersion":2.1,"position":[64,-208],"id":"c6ff1f91-33d6-41e2-b1be-df869eff9c2f","name":"EditContact","credentials":{"airtableOAuth2Api":{"id":"gND9H8eQb6GNnRf2","name":"Airtable"}}}],"connections":{"Content Creator Agent":{"ai_tool":[[]]},"Calculator":{"ai_tool":[[{"node":"Asta","type":"ai_tool","index":0}]]},"Calendar Agent":{"ai_tool":[[{"node":"Asta","type":"ai_tool","index":0}]]},"Think":{"ai_tool":[[{"node":"Asta","type":"ai_tool","index":0}]]},"Telegram Trigger":{"main":[[{"node":"Asta","type":"main","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"Asta","type":"ai_memory","index":0}]]},"Tavily":{"ai_tool":[[{"node":"Asta","type":"ai_tool","index":0}]]},"__CUSTOM_API_CALL__ search in Tavily":{"ai_tool":[[{"node":"Asta","type":"ai_tool","index":0}]]},"emailAgent":{"ai_tool":[[{"node":"Asta","type":"ai_tool","index":0}]]},"GPT 4.0":{"ai_languageModel":[[{"node":"Asta","type":"ai_languageModel","index":0}]]},"Contact Database":{"ai_tool":[[{"node":"Asta","type":"ai_tool","index":0}]]},"Asta":{"main":[[{"node":"Send a text message","type":"main","index":0}]]},"getContact":{"ai_tool":[[]]},"EditContact":{"ai_tool":[[]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"955d7679-8d67-42db-8e25-2c273b48bf09","triggerCount":0,"shared":[{"updatedAt":"2025-11-12T14:06:59.101Z","createdAt":"2025-11-12T14:06:59.101Z","role":"workflow:owner","workflowId":"nitiM5MaLSwGRr5Q","projectId":"DkHDotQO3CwT4btY"}],"tags":[]}