Personal AI.json
{"updatedAt":"2025-11-12T13:10:08.766Z","createdAt":"2025-11-12T10:20:03.489Z","id":"KaNRYu0Ci7pPaf3s","name":"Personal AI","active":false,"isArchived":false,"nodes":[{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('Listen for incoming events').first().json.message.from.id }}"},"id":"9fad47f4-61ca-418e-bb2a-3438e0380a85","name":"Window Buffer Memory","type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","position":[1712,496],"typeVersion":1.2},{"parameters":{"updates":["message"],"additionalFields":{}},"id":"506bb1e2-907e-43d0-9f4f-64077d033c3c","name":"Listen for incoming events","type":"n8n-nodes-base.telegramTrigger","position":[1504,224],"webhookId":"322dce18-f93e-4f86-b9b1-3305519b7834","typeVersion":1,"credentials":{"telegramApi":{"id":"n78Dc2sxI1FlDdZV","name":"Kaizen Assistant"}}},{"parameters":{"chatId":"={{ $('Listen for incoming events').first().json.message.from.id }}","text":"={{ $json.output }}","additionalFields":{"appendAttribution":false,"parse_mode":"Markdown"}},"id":"90e15f38-8787-4341-bce3-d69794a8810d","name":"Telegram","type":"n8n-nodes-base.telegram","position":[2240,224],"webhookId":"2c133a40-af48-4106-bc1a-be6047840a89","typeVersion":1.1,"credentials":{"telegramApi":{"id":"n78Dc2sxI1FlDdZV","name":"Kaizen Assistant"}},"onError":"continueRegularOutput"},{"parameters":{"sendTo":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('To', ``, 'string') }}","subject":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Subject', ``, 'string') }}","message":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message', `Please format this nicely in html`, 'string') }}","options":{"appendAttribution":false}},"id":"a49db9c4-86e0-4e8f-bff8-2c3099c98886","name":"Send Email","type":"n8n-nodes-base.gmailTool","position":[2032,496],"webhookId":"a4ae7b5d-7686-4bee-a753-848932860b4e","typeVersion":2.1,"credentials":{"gmailOAuth2":{"id":"YPb5kckXgSZw2fUw","name":"Gmail account"}}},{"parameters":{"promptType":"define","text":"={{ $json.message.text }}","options":{"systemMessage":"=This is today's date: {{ $now.format('yyyy-MM-dd') }}\n\nUse the Get Contact node to retrieve contact information requested.\nAlso refer to the Get Contact node if an action requires other information yet, it is not specified in the prompt."}},"id":"8ba826ce-12ac-412d-9db2-9fecf0973468","name":"ASTA","type":"@n8n/n8n-nodes-langchain.agent","position":[1776,224],"typeVersion":1.6},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[1536,496],"id":"7d2a7ed2-6f88-41c5-a158-e09820e74fc5","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"sT24ONU4jnbehmwY","name":"OpenAi account"}}},{"parameters":{"operation":"get","databaseId":312378,"tableId":737223,"rowId":"={{ $fromAI(\"first_name\") }}"},"type":"n8n-nodes-base.baserowTool","typeVersion":1,"position":[2224,496],"id":"fa190310-5c0e-427b-b390-6dbf07dd7f7a","name":"Get Contact","credentials":{"baserowApi":{"id":"PTQ6y5X1aXiMo92H","name":"Baserow account"}}}],"connections":{"Send Email":{"ai_tool":[[{"node":"ASTA","type":"ai_tool","index":0}]]},"Window Buffer Memory":{"ai_memory":[[{"node":"ASTA","type":"ai_memory","index":0}]]},"Listen for incoming events":{"main":[[{"node":"ASTA","type":"main","index":0}]]},"ASTA":{"main":[[{"node":"Telegram","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"ASTA","type":"ai_languageModel","index":0}]]},"Get Contact":{"ai_tool":[[{"node":"ASTA","type":"ai_tool","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"5b6bf7a1-5e78-4bd6-ba8b-30653671a2fb","triggerCount":0,"shared":[{"updatedAt":"2025-11-12T10:20:03.489Z","createdAt":"2025-11-12T10:20:03.489Z","role":"workflow:owner","workflowId":"KaNRYu0Ci7pPaf3s","projectId":"DkHDotQO3CwT4btY"}],"tags":[]}