RAG.json
{"updatedAt":"2025-11-29T07:27:18.826Z","createdAt":"2025-11-29T02:06:57.935Z","id":"g9HMKractguOp7Ip","name":"RAG","active":false,"isArchived":false,"nodes":[{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"triggerOn":"specificFolder","folderToWatch":{"__rl":true,"value":"1MlM_NzT1pDylSQuXlwFMCKeTMG8CKtoo","mode":"list","cachedResultName":"Atlas","cachedResultUrl":"https://drive.google.com/drive/folders/1MlM_NzT1pDylSQuXlwFMCKeTMG8CKtoo"},"event":"fileCreated","options":{}},"type":"n8n-nodes-base.googleDriveTrigger","typeVersion":1,"position":[0,0],"id":"55af87d9-f6aa-44d2-a429-ef28412f3198","name":"Google Drive Trigger","credentials":{"googleDriveOAuth2Api":{"id":"cxqu3qtM3PpDj7GV","name":"Google Drive account"}}},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"={{ $json.id }}","mode":"id"},"options":{"googleFileConversion":{"conversion":{"docsToFormat":"application/pdf"}}}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[208,0],"id":"bf7c077d-8ae6-4e81-b3c0-20b5a5a8e597","name":"Download file","credentials":{"googleDriveOAuth2Api":{"id":"cxqu3qtM3PpDj7GV","name":"Google Drive account"}}},{"parameters":{"mode":"insert","tableName":{"__rl":true,"value":"documents","mode":"list","cachedResultName":"documents"},"options":{}},"type":"@n8n/n8n-nodes-langchain.vectorStoreSupabase","typeVersion":1.3,"position":[416,0],"id":"881170e5-303c-495d-a719-2f1579c92a8e","name":"Supabase Vector Store","credentials":{"supabaseApi":{"id":"ExlAitSugzlvJ7hh","name":"Supabase account"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2,"position":[384,176],"id":"67652cf8-2f08-4071-909d-1323e04020c3","name":"Embeddings OpenAI","credentials":{"openAiApi":{"id":"sT24ONU4jnbehmwY","name":"OpenAi account"}}},{"parameters":{"dataType":"binary","options":{"metadata":{"metadataValues":[{"name":"fileName","value":"={{ $json.name }}"},{"name":"date","value":"={{ $now }}"}]}}},"type":"@n8n/n8n-nodes-langchain.documentDefaultDataLoader","typeVersion":1.1,"position":[560,208],"id":"187d4713-1d9d-4577-8b35-2380c2c5bb21","name":"Default Data Loader"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.3,"position":[0,-336],"id":"bea29023-2b4e-4656-be5a-d39e47f9cf16","name":"When chat message received","webhookId":"6765265e-6883-4987-991a-af6b6a73518e"},{"parameters":{"options":{"systemMessage":"You are a helpful assistant with access to the supabase vector store. Use the store to answer in-context questions."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3,"position":[208,-336],"id":"1539659c-554c-435b-a355-bc67c03187d1","name":"AI Agent"},{"parameters":{"mode":"retrieve-as-tool","toolDescription":"Work with my data in the supabase vector store","tableName":{"__rl":true,"value":"documents","mode":"list","cachedResultName":"documents"},"options":{}},"type":"@n8n/n8n-nodes-langchain.vectorStoreSupabase","typeVersion":1.3,"position":[560,-336],"id":"fe1dd86f-0009-48ed-be67-63f79f40e268","name":"Supabase Vector Store1","credentials":{"supabaseApi":{"id":"ExlAitSugzlvJ7hh","name":"Supabase account"}}},{"parameters":{"model":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[80,-128],"id":"841e2cb8-3c5b-4a54-a229-9e7a0e3f54b8","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"sT24ONU4jnbehmwY","name":"OpenAi account"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2,"position":[656,-128],"id":"ca6656fb-507c-4f83-854d-b1b982e1aec5","name":"Embeddings OpenAI1","credentials":{"openAiApi":{"id":"sT24ONU4jnbehmwY","name":"OpenAi account"}}},{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"triggerOn":"specificFolder","folderToWatch":{"__rl":true,"value":"1MlM_NzT1pDylSQuXlwFMCKeTMG8CKtoo","mode":"list","cachedResultName":"Atlas","cachedResultUrl":"https://drive.google.com/drive/folders/1MlM_NzT1pDylSQuXlwFMCKeTMG8CKtoo"},"event":"fileUpdated","options":{}},"type":"n8n-nodes-base.googleDriveTrigger","typeVersion":1,"position":[-48,592],"id":"9be0b974-ec1e-4409-aca2-3109e69794df","name":"Google Drive Trigger1","credentials":{"googleDriveOAuth2Api":{"id":"cxqu3qtM3PpDj7GV","name":"Google Drive account"}}},{"parameters":{"operation":"delete","tableId":"rpc/match_documents","filterType":"string","filterString":"=metadata->>fileName=ilike.*{{$json.name}}*   "},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[160,592],"id":"65a52055-b272-46ef-b2bf-6b2da7e57f5e","name":"Delete a row","executeOnce":false,"credentials":{"supabaseApi":{"id":"ExlAitSugzlvJ7hh","name":"Supabase account"}},"onError":"continueRegularOutput"},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"={{ $('Google Drive Trigger1').item.json.id }}","mode":"id"},"options":{"googleFileConversion":{"conversion":{"docsToFormat":"application/pdf"}}}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[368,592],"id":"f8d22b31-f891-4d61-b7d5-062282c364a3","name":"Download file1","executeOnce":true,"credentials":{"googleDriveOAuth2Api":{"id":"cxqu3qtM3PpDj7GV","name":"Google Drive account"}}},{"parameters":{"mode":"insert","tableName":{"__rl":true,"value":"documents","mode":"list","cachedResultName":"documents"},"options":{}},"type":"@n8n/n8n-nodes-langchain.vectorStoreSupabase","typeVersion":1.3,"position":[640,592],"id":"f9b523ef-f13e-4d08-97fd-a97287ce35e0","name":"Supabase Vector Store2","credentials":{"supabaseApi":{"id":"ExlAitSugzlvJ7hh","name":"Supabase account"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2,"position":[608,768],"id":"579e495c-9a83-4095-afc7-bfc6c1ef0e2a","name":"Embeddings OpenAI2","credentials":{"openAiApi":{"id":"sT24ONU4jnbehmwY","name":"OpenAi account"}}},{"parameters":{"dataType":"binary","options":{"metadata":{"metadataValues":[{"name":"fileName","value":"={{ $('Google Drive Trigger1').item.json.name }}"},{"name":"date","value":"={{ $now }}"}]}}},"type":"@n8n/n8n-nodes-langchain.documentDefaultDataLoader","typeVersion":1.1,"position":[784,800],"id":"3f000f25-3bd3-45c9-8d40-a76e9a6ab3bb","name":"Default Data Loader1"}],"connections":{"Google Drive Trigger":{"main":[[{"node":"Download file","type":"main","index":0}]]},"Download file":{"main":[[{"node":"Supabase Vector Store","type":"main","index":0}]]},"Embeddings OpenAI":{"ai_embedding":[[{"node":"Supabase Vector Store","type":"ai_embedding","index":0}]]},"Default Data Loader":{"ai_document":[[{"node":"Supabase Vector Store","type":"ai_document","index":0}]]},"When chat message received":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Supabase Vector Store1":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Embeddings OpenAI1":{"ai_embedding":[[{"node":"Supabase Vector Store1","type":"ai_embedding","index":0}]]},"Google Drive Trigger1":{"main":[[{"node":"Delete a row","type":"main","index":0}]]},"Delete a row":{"main":[[{"node":"Download file1","type":"main","index":0}]]},"Embeddings OpenAI2":{"ai_embedding":[[{"node":"Supabase Vector Store2","type":"ai_embedding","index":0}]]},"Default Data Loader1":{"ai_document":[[{"node":"Supabase Vector Store2","type":"ai_document","index":0}]]},"Download file1":{"main":[[{"node":"Supabase Vector Store2","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Google Drive Trigger1":[{"json":{"exportLinks":{"application/rtf":"https://docs.google.com/feeds/download/documents/export/Export?id=1tZjYtFBlNGdjynURd731MWINp030lL3gmjcdeSTZY_g&exportFormat=rtf","application/vnd.oasis.opendocument.text":"https://docs.google.com/feeds/download/documents/export/Export?id=1tZjYtFBlNGdjynURd731MWINp030lL3gmjcdeSTZY_g&exportFormat=odt","text/html":"https://docs.google.com/feeds/download/documents/export/Export?id=1tZjYtFBlNGdjynURd731MWINp030lL3gmjcdeSTZY_g&exportFormat=html","application/pdf":"https://docs.google.com/feeds/download/documents/export/Export?id=1tZjYtFBlNGdjynURd731MWINp030lL3gmjcdeSTZY_g&exportFormat=pdf","text/x-markdown":"https://docs.google.com/feeds/download/documents/export/Export?id=1tZjYtFBlNGdjynURd731MWINp030lL3gmjcdeSTZY_g&exportFormat=markdown","text/markdown":"https://docs.google.com/feeds/download/documents/export/Export?id=1tZjYtFBlNGdjynURd731MWINp030lL3gmjcdeSTZY_g&exportFormat=markdown","application/epub+zip":"https://docs.google.com/feeds/download/documents/export/Export?id=1tZjYtFBlNGdjynURd731MWINp030lL3gmjcdeSTZY_g&exportFormat=epub","application/zip":"https://docs.google.com/feeds/download/documents/export/Export?id=1tZjYtFBlNGdjynURd731MWINp030lL3gmjcdeSTZY_g&exportFormat=zip","application/vnd.openxmlformats-officedocument.wordprocessingml.document":"https://docs.google.com/feeds/download/documents/export/Export?id=1tZjYtFBlNGdjynURd731MWINp030lL3gmjcdeSTZY_g&exportFormat=docx","text/plain":"https://docs.google.com/feeds/download/documents/export/Export?id=1tZjYtFBlNGdjynURd731MWINp030lL3gmjcdeSTZY_g&exportFormat=txt"},"parents":["1MlM_NzT1pDylSQuXlwFMCKeTMG8CKtoo"],"lastModifyingUser":{"displayName":"Abel Kaizen","kind":"drive#user","me":true,"permissionId":"05183740064620787547","emailAddress":"hakaizen5@gmail.com","photoLink":"https://lh3.googleusercontent.com/a/ACg8ocJsAfusQ_jRoUrzOYGy9reJre1PakD1XFDp5IaQSOpZlT4a5A=s64"},"owners":[{"displayName":"Abel Kaizen","kind":"drive#user","me":true,"permissionId":"05183740064620787547","emailAddress":"hakaizen5@gmail.com","photoLink":"https://lh3.googleusercontent.com/a/ACg8ocJsAfusQ_jRoUrzOYGy9reJre1PakD1XFDp5IaQSOpZlT4a5A=s64"}],"permissions":[{"kind":"drive#permission","id":"05183740064620787547","type":"user","emailAddress":"hakaizen5@gmail.com","role":"owner","displayName":"Abel Kaizen","photoLink":"https://lh3.googleusercontent.com/a/ACg8ocJsAfusQ_jRoUrzOYGy9reJre1PakD1XFDp5IaQSOpZlT4a5A=s64","deleted":false,"pendingOwner":false}],"spaces":["drive"],"capabilities":{"canAcceptOwnership":false,"canAddChildren":false,"canAddMyDriveParent":false,"canChangeCopyRequiresWriterPermission":true,"canChangeItemDownloadRestriction":true,"canChangeSecurityUpdateEnabled":false,"canChangeViewersCanCopyContent":true,"canComment":true,"canCopy":true,"canDelete":true,"canDisableInheritedPermissions":false,"canDownload":true,"canEdit":true,"canEnableInheritedPermissions":true,"canListChildren":false,"canModifyContent":true,"canModifyContentRestriction":true,"canModifyEditorContentRestriction":true,"canModifyOwnerContentRestriction":true,"canModifyLabels":false,"canMoveChildrenWithinDrive":false,"canMoveItemIntoTeamDrive":true,"canMoveItemOutOfDrive":true,"canMoveItemWithinDrive":true,"canReadLabels":false,"canReadRevisions":true,"canRemoveChildren":false,"canRemoveContentRestriction":false,"canRemoveMyDriveParent":true,"canRename":true,"canShare":true,"canTrash":true,"canUntrash":true},"permissionIds":["05183740064620787547"],"linkShareMetadata":{"securityUpdateEligible":false,"securityUpdateEnabled":true},"downloadRestrictions":{"itemDownloadRestriction":{"restrictedForReaders":false,"restrictedForWriters":false},"effectiveDownloadRestrictionWithContext":{"restrictedForReaders":false,"restrictedForWriters":false}},"kind":"drive#file","id":"1tZjYtFBlNGdjynURd731MWINp030lL3gmjcdeSTZY_g","name":"Copy of Superbase Policy and FAQ document","mimeType":"application/vnd.google-apps.document","starred":false,"trashed":false,"explicitlyTrashed":false,"version":"6","webViewLink":"https://docs.google.com/document/d/1tZjYtFBlNGdjynURd731MWINp030lL3gmjcdeSTZY_g/edit?usp=drivesdk","iconLink":"https://drive-thirdparty.googleusercontent.com/16/type/application/vnd.google-apps.document","hasThumbnail":true,"thumbnailLink":"https://lh3.googleusercontent.com/drive-storage/AJQWtBMyw9K2noOjhsJvOmgZFgJbRvGyfEsyz0Z8q5RG6W3U93eR36RUgzpIMNymbzuc_dbprjtuQmR_I3WSy_BGaY8VE9Vj_5ewOok4pG7eER7Hf9NMIIC3FNZAyKX38A=s220","thumbnailVersion":"1","viewedByMe":true,"viewedByMeTime":"2025-11-29T03:00:02.018Z","createdTime":"2025-11-29T03:00:00.560Z","modifiedTime":"2025-11-29T03:00:00.560Z","modifiedByMeTime":"2025-11-29T03:00:00.560Z","modifiedByMe":true,"shared":false,"ownedByMe":true,"viewersCanCopyContent":true,"copyRequiresWriterPermission":false,"writersCanShare":true,"size":"5469","quotaBytesUsed":"5469","isAppAuthorized":false,"inheritedPermissionsDisabled":false}}]},"versionId":"b77230ce-9964-4d3a-94a5-a38cd734884d","triggerCount":0,"shared":[{"updatedAt":"2025-11-29T02:06:57.935Z","createdAt":"2025-11-29T02:06:57.935Z","role":"workflow:owner","workflowId":"g9HMKractguOp7Ip","projectId":"DkHDotQO3CwT4btY"}],"tags":[]}